In [1]:
t1 = 1, 2, 3, 3

In [2]:
t1[1]

2

In [3]:
type(t1)

tuple

In [4]:
t1.count(3)

2

In [5]:
t1.index(2)

1

In [6]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [7]:
t1 = list(t1)
t1

[1, 2, 3, 3]

In [8]:
t1.pop()

3

In [9]:
t1

[1, 2, 3]

In [10]:
t1.remove(3)

In [11]:
print(t1.remove(2))

None

In [12]:
aas = "ALA, TYR, TRP, SER, GLY"
b = aas.split(', ')
b

['ALA', 'TYR', 'TRP', 'SER', 'GLY']

In [13]:
'*'.join(b)

'ALA*TYR*TRP*SER*GLY'

In [14]:
l1 = [1,2,5]
l2 = [1,4,2]

In [15]:
l1 > l2

False

In [16]:
l2 > l1

True

In [17]:
a = [2,5]
b = [4,2]
print(a>b)
print(a<b)

False
True

In [18]:
l1 = [1,2,[4,4]]
l2 = [1,2,[3,5]]

In [19]:
print(l1>l2)

True

In [20]:
ord('c')

99

In [21]:
ord('b')

98

In [22]:
'a' > 'b'

False

In [23]:
'd' > 'b'

True

In [24]:
x = [-2, 9, 7, 5, 0]

In [25]:
all(x)

False

In [26]:
any(x)

True

In [27]:
y = [1, None, False, 0]

In [28]:
all(y)

False

In [29]:
any(y)

True

In [30]:
len(y)

4

In [31]:
sum(x)

19

In [32]:
max(x)

9

In [33]:
min(x)

-2

In [34]:
asci = ['a','b','c']
asci_copy = asci[:]
asci_copy2 = asci

In [35]:
print(asci_copy)

['a', 'b', 'c']

In [36]:
print(asci_copy2)

['a', 'b', 'c']

In [37]:
asci.append('d')

In [38]:
asci_copy2

['a', 'b', 'c', 'd']

In [39]:
asci

['a', 'b', 'c', 'd']

In [40]:
asci_copy

['a', 'b', 'c']

In [41]:
print(id(asci))
print(id(asci_copy))
print(id(asci_copy2))

2523142255040
2523142260160
2523142255040

In [42]:
a = 3
a += 4
a

7

In [43]:
b = 'ali'
b += 'm'
b

'alim'

In [44]:
s = 'ab'
s*10

'abababababababababab'

In [45]:
x = [1, 2, 3, 4]
y = [5]

In [46]:
x += y
x

[1, 2, 3, 4, 5]

In [47]:
x.append(y)
x

[1, 2, 3, 4, 5, [5]]

In [48]:
x.append(5)

In [49]:
x

[1, 2, 3, 4, 5, [5], 5]

In [50]:
x *2

[1, 2, 3, 4, 5, [5], 5, 1, 2, 3, 4, 5, [5], 5]

In [51]:
x * y

TypeError: can't multiply sequence by non-int of type 'list'

In [52]:
x *= y

TypeError: can't multiply sequence by non-int of type 'list'

In [53]:
a = "many_bbb"
b = "many_bbb"

In [54]:
a == b

True

In [55]:
a is b

True

In [56]:
print(id(a))
print(id(b))

2523142287536
2523142287536

In [57]:
p = (4, "frog", 9, -33, 9, 2)

In [58]:
2 in p

True

In [59]:
'dog' in p

False

In [60]:
phrase = "Wild Swans by Jung Chang"

In [61]:
'J' in phrase

True

In [62]:
'han' in phrase

True

In [63]:
'iau' in phrase

False

In [64]:
set('iauz').issubset(phrase)

False

In [65]:
'gaattcc'.find('c')

5

In [66]:
'i' in phrase

True

In [67]:
'gaattcc'.index('c')

5

In [68]:
x=7
print(eval('x+7'))
print(eval('x+(x%2)'))

14
8

In [69]:
exec('a=2;b=3;print(a+b)')

5

In [70]:
x = 7
print(exec('x+7'))
print(exec('x+(x%2)'))

None
None

In [71]:
list(map(str,[1,2,3,4,5]))

['1', '2', '3', '4', '5']

In [72]:
tuple(map(str,[1,2,3,4,5]))

('1', '2', '3', '4', '5')

In [73]:
print(*map(str,[1,2,3,4,5]))

1 2 3 4 5

In [74]:
dict(zip([1,2,3],['a','b','c','d']))

{1: 'a', 2: 'b', 3: 'c'}